<app-header></app-header>
<div class="back">
<div class="container">
  <h2> Caregivers</h2>
  <div *ngIf="caregivers.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="caregivers.length > 0">
    <table border="1" id="table1" class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Id Doctor</th>
        <th scope="col">Id user</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">Modify</th>
        <th scole="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of caregivers; index as i">
        <td height="50">{{ user.idcaregiver}}</td>
        <td>{{ user.idDoctor}}</td>
        <td>{{ user.idUser}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.birthday}}</td>
        <td>{{ user.address}}</td>
        <td>{{ user.gender}}</td>
        <td>
          <button class="buton" (click)="modifyCaregiver(user)">
            Modify Caregiver
          </button>
        </td>
        <td>
          <button class="buton" (click)="deleteCaregiver(user.idcaregiver)">
            Delete Caregiver
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md- offset-md-2">
      <h3>Insert new caregiver</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.name.errors }" />
          <div *ngIf="submitted && requestedForm.name.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Birthday</label>
          <input type="text" formControlName="birthday" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.birthday.errors }" />
          <div *ngIf="submitted && requestedForm.birthday.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="dosage" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.address.errors }" />
          <div *ngIf="submitted && requestedForm.address.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Gender</label>
          <input type="text" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.gender.errors }" />
          <div *ngIf="submitted && requestedForm.gender.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>ID Doctor</label>
          <input type="text" formControlName="idDoctor" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.idDoctor.errors }" />
          <div *ngIf="submitted && requestedForm.idDoctor.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.username.errors }" />
          <div *ngIf="submitted && requestedForm.username.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.password.errors }" />
          <div *ngIf="submitted && requestedForm.password.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Insert</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

