<div class="back">
  <button class = "button-class" (click)="logOut()" >Log Out</button>
<div class="container">
  <h2> Account Details</h2>
  <div *ngIf="patient">
    <table id="table1" class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Id user</th>
        <th scope="col">Id caregiver</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
      </tr>
      </thead>
      <tbody>
        <td>{{ patient.idpatient}}</td>
        <td>{{ patient.idCaregiver}}</td>
        <td>{{ patient.idUser}}</td>
        <td>{{ patient.name}}</td>
        <td>{{ patient.birthday}}</td>
        <td>{{ patient.address}}</td>
        <td>{{ patient.gender}}</td>
      </tbody>
    </table>
  </div>

    <h2>Intakes</h2>
  <table id="table4" class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Id intake</th>
      <th scope="col">Period</th>
      <th scope="col">Start Time</th>
      <th scope="col">Id Patient</th>
      <th scope="col">Drug Name</th>
      <th scope="col">Intake Interval</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicationPlan of medicationPlans; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ medicationPlan.idintake}}</td>
      <td>{{ medicationPlan.period}}</td>
      <td>{{ medicationPlan.start_time}}</td>
      <td>{{ medicationPlan.idPatient}}</td>
      <td>
        <table id="table2" class="table table-striped">
          <tbody>
          <tr *ngFor="let medication of medicationPlan.drugDTOs; index as j">
            <td>{{ medication}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    <td>
      <table id="table3" class="table table-striped">
        <tbody>
        <tr *ngFor="let medication of medicationPlan.intake_intervals; index as k">
          <td>{{ medication}}</td>
        </tr>
        </tbody>
      </table>
    </td>
    </tr>
    </tbody>
  </table>

</div>
</div>


