<app-header></app-header>
<div class="back">
<div class="container">
  <h2> Drugs</h2>
  <div *ngIf="drugs.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="drugs.length > 0">
    <table border="1" id="table1" class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Side Effect</th>
        <th scope="col">Dosage</th>
        <th scope="col">Modify</th>
        <th scole="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of drugs; index as i">
        <td>{{ user.iddrug}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.sideeffect}}</td>
        <td>{{ user.dosage}}</td>
        <td>
          <button class = "mybutton"(click)="modifyDrug(user)">
            Modify drug
          </button>
        </td>
        <td>
          <button class = "mybutton"(click)="deleteDrug(user.iddrug)">
            Delete drug
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <h3>Insert new drug</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.name.errors }" />
          <div *ngIf="submitted && requestedForm.name.errors" class="invalid-feedback">
            <div *ngIf="requestedForm.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Side Effect</label>
          <input type="text" formControlName="sideeffect" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.sideeffect.errors }" />
          <div *ngIf="submitted && requestedForm.sideeffect.errors" class="invalid-feedback">
            <div *ngIf="requestedForm.sideeffect.errors.required">sideeffect is required</div>
            <div *ngIf="requestedForm.sideeffect.errors.sideeffect">sideeffect must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label>Dosage</label>
          <input type="dosage" formControlName="dosage" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.dosage.errors }" />
          <div *ngIf="submitted && requestedForm.dosage.errors" class="invalid-feedback">
            <div *ngIf="requestedForm.dosage.errors.required">dosage is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Insert</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
