table {
  width: 100%;
}
.form-inline {
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.back{
  background-image: url('../images/green_med.jpg');
  background-repeat: repeat;
}
.container {
  margin: 0px;
}
.myTable {
  text-align: center;
  margin-top: 30px;
  margin-left: 100px;
  color: #011a04 ;

}

.mybutton {
  background-color: #058c23;

}

