<app-header></app-header>
<div class="back">
<div class="container">
  <h2> Patients</h2>
  <div *ngIf="patients.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="patients.length > 0">
    <table border = "1" id="table1" class="table table-striped"  >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Id caregiver</th>
        <th scope="col">Id user</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">Modify</th>
        <th scole="col">Delete</th>
        <th scope="col">Show</th>
        <th scole="col">List</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of patients; index as i">
        <td height="50">{{ user.idpatient}}</td>
        <td>{{ user.idCaregiver}}</td>
        <td>{{ user.idUser}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.birthday}}</td>
        <td>{{ user.address}}</td>
        <td>{{ user.gender}}</td>
        <td>
          <button class = "mybutton" (click)="modifyPatient(user)">
            Modify patient
          </button>
        </td>
        <td>
          <button class = "mybutton" (click)="deletePatient(user.idpatient)">
            Delete patient
			</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <h3>Insert new patient</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.name.errors }" />
          <div *ngIf="submitted && requestedForm.name.errors" class="invalid-feedback">
          </div>
        </div>

        <div class="form-group">
          <label>Birthday</label>
          <input type="text" formControlName="birthday" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.birthday.errors }" />
          <div *ngIf="submitted && requestedForm.birthday.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="dosage" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.address.errors }" />
          <div *ngIf="submitted && requestedForm.address.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Gender</label>
          <input type="text" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.gender.errors }" />
          <div *ngIf="submitted && requestedForm.gender.errors" class="invalid-feedback">
          </div>
        </div>
          <div class="form-group">
            <label>Id Caregiver</label>
            <input type="text" formControlName="idCaregiver" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.idCaregiver.errors }" />
            <div *ngIf="submitted && requestedForm.idCaregiver.errors" class="invalid-feedback">
            </div>
          </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.username.errors }" />
          <div *ngIf="submitted && requestedForm.username.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.password.errors }" />
          <div *ngIf="submitted && requestedForm.password.errors" class="invalid-feedback">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Insert</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

