<app-header></app-header>
<div class="back">
<div class = "aliniere">
  <h1> Create medication intake</h1>
</div>
  <form class="px-4 py-3" (ngSubmit)="confirmMedicationPlan()">
    <div class="form-group">
      <input class="form-control" id="period" [(ngModel)]="medicationPlan.period" name="period" placeholder="Period">
    </div>
    <div class="form-group">
      <input class="form-control" id="intervals" [(ngModel)]="intervals" name="intervals" placeholder="Intervals intake">
    </div>
    <div class="form-group">
      <input class="form-control" id="idPatient" [(ngModel)]="medicationPlan.idPatient" name="idPatient" placeholder="Insert id patient">
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="medicationPlan.start_time" id="start_time" name="Start_time" placeholder="Insert start_time">
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="drugs" id="drugs" name="drugs" placeholder="Insert drugs id">
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
</div>
